
body{
    margin:0;/*body의 바깥 여백을 없앰으로 nav bar가 페이지에 바짝붙게함*/
}
.navbar {
    display: inline-block;
    width: 100%;
    background: darkslateblue;
}
.navbar>div { float: left; }
.head_container {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    background : darkslateblue;
}
.item {
    display: inline-block;
    padding: 0;
}
.navbar a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
}
.navbar a:hover { background: darkblue; }

.header{
    width:100%;
    background-color : darkslateblue;
}