.width_jo{
    width: 100%;
    display: flex;
}
.product_margin{
    margin-left: 7%;
}
.preview_img{
   width:30%;
    height:32rem;
    border: 1px solid;
    background-size: contain;
      
}
.preview_img1{
    width:75%;
     height:32rem;
     border: 1px solid;
     background-size: contain;
 }
.delete_select_width{
    width: 105%;
    display: flex;

}
.preview_img img{
    display:inherit;
    width:100%;
    height:100%;
    


}
.preview_img1 img{
    width:100%;
    /* max-height: 100%;  */
    overflow: scroll;
}
.register_box{
    width: 100%;
    margin-bottom: 0.5%;
    margin-top: -5%;
    font-size: 40px;
    text-align: center;
}
.locate1{
    margin-top : 5.5%;
    margin-bottom : 3%;
}
.photo_upload_container{
    display: flex;
}
.photo_width{
    width: 30%
}
.photo_width1{
    width: 40%;
}
.photo_templet_container{
    /* display: flex; */
    justify-content: space-between;
    margin-bottom: 3%;
}
.sidetosidemargin{
    margin: 3%;
}

/* .back_btn{
    position: absolute;
    top: 20.5%;
} */
.pp_container{
    display: flex;
    width: 100%;
}
.assas{
    margin-left: 10%;
}
.sale_container{
    display: flex;
}
.whole_left{
    margin-left: 20vw;
    height: 100%;
    margin-bottom: 10%;
    
}
.btn_lo{
margin-left: 35%;
margin-top: 5%;
}
.button{
    /* color: #444444; */
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}
button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}
.dk_margin{
    margin-right: -2.2vw;
}
.dk_margin1{
    margin-right: -6.25vw;
}
.sale_font{
    font-size: 14px;

}
.sale_display{
    display: block;
}
.category_option{

    margin-bottom: 3%;
}
.option-container{
    float: left;
}