.register_main_container{
    display:flex;
    text-align: center;
    justify-content: center;
    margin-top : 7%;
    margin-bottom : 7%;
    width: 100%;
    flex-wrap: wrap;
    
}
.register_box{
    width: 100%;
    margin-bottom: 0.5%;
    margin-top: -5%;
    font-size: 40px;
}
.company_img{
    background-color: white;
    width: 30%;
    border-left : 0.01rem solid black;
    border-right: 0.01rem solid black;
    border-top: 0.01rem solid black;
    border-bottom: 0.01rem solid black;
}

.person_img{
    background-color: white;
    width: 30%;
    border-left : 0.01rem solid black;
    border-right: 0.01rem solid black;
    border-top: 0.01rem solid black;
    border-bottom: 0.01rem solid black;
}
.company_image{
    margin: 20%;
}
.person_image{
    margin: 20%;
}
.sidetosidemargin{
    margin: 2%;
}
.register_main_item{
    text-decoration: none;
    list-style: none;
    color : white;
    font-size: 18px;
    

}
.register_main_item_div{
    font-size : 2rem;
    background:white;
}
.register_main_left{
    background: rgb(90,98,115);
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    padding-bottom: 0.68rem;
    

}
.register_main_right{
    background: rgb(90,98,115);
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    padding-bottom: 0.68rem;

}

.bigtxt{
    font-size: 35px;
}
.smalltxt{
    font-size: 20px;
}
.modecontainer{
    margin-top: 1%;
    margin-bottom: 2%;
    text-decoration: none;
}

.userregister{
    color: #4193E3;
    border-bottom: 2px solid #1d7abd;
    font-size: 1.125rem;
    padding-bottom: 0.6%;
    padding-left: 10%;
    padding-right: 10%;
}
.userregister1{
    color: black;
    border-bottom: 2px solid rgb(234, 234, 234);
    font-size: 1.125rem;
    padding-bottom: 0.6%;
    padding-left: 10%;
    padding-right: 10%;
}
.companyregister{
    color: black;
    border-bottom: 2px solid rgb(234, 234, 234);
    font-size: 1.125rem;
    padding-bottom: 0.6%;
    padding-left: 10%;
    padding-right: 10%;
}
.companyregister1{
    color: #4193E3;
    border-bottom: 2px solid #1d7abd;
    font-size: 1.125rem;
    padding-bottom: 0.6%;
    padding-left: 10%;
    padding-right: 10%;
}

.user_enroll_text{
    display:block;
    font-size:20px;
    font-weight: 400;
    line-height: 1.5;
    color:#212529;  
    border-right:1px solid white;
    border-left:1px solid white;
    border-top: 1px solid white;
    margin-left: 10%;
    outline:none;
    position: absolute;
    left: 28%;
    margin-bottom: 10%;
    width: 33%;
}

.user_enroll_form{
    margin-top : 7%;
    margin-bottom : 7%;
}

.user_enroll_form div{

    text-align: center;

}
.tt{
    display:flex;
    margin-left: 29%;
}

.tt1{
    display:flex;
    margin-left: 29%;
    margin-bottom: 3%;
}
.submit_locate{
    margin-top: 0%;
}
.sd{
    margin-left: 7%;
}
.register_info{
    display:flex;
    margin-left: 28%;
    margin-bottom: 1.5%;
    font-size: 31px;
}
.ad1{
    margin-top: -0.75%;
    margin-right: 10%;
    color: gray;
    font-size: 12px;
    margin-bottom: 1%;
}
.ad2{
    margin-top: -0.75%;
    margin-right: 8.3%;
    color: gray;
    font-size: 12px;
    margin-bottom: 1%;
}
.ad3{
    margin-top: -0.75%;
    margin-right: 11.8%;
    color: gray;
    font-size: 12px;
    margin-bottom: 3%;
}
.ad4{
    margin-top: -0.75%;
    margin-right: 8%;
    color: gray;
    font-size: 12px;
    margin-bottom: 1%;
}
.ad5{
    margin-top: -0.75%;
    margin-right: 8.6%;
    color: gray;
    font-size: 12px;
    margin-bottom: 1%;
}

p{
    margin-top: 0.4%;
    font-size: 19px;
}

.availability{
    position: absolute;
    top: 85.7%;
    left: 71.5%;
}
.availability1{
    position: absolute;
    top: 91%;
    left: 71.4%;
}
.bank_container{
    position: absolute;
    left: 71.4%;
    
}
.post_container{
    position: absolute;
    left: 71.4%;
    top: 72%;
}